@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600;700&display=swap');

.toggle-checkbox {
    background-color: white;
    transition: 1s;
}

.toggle-checkbox:checked {
    right: 0;
    background-color: #4a5568;
    transition: 1s;
}

.square {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-image: linear-gradient(
    45deg,
    rgb(121, 113, 234),
    rgb(97, 71, 182)
  );
}

.full-screen-square {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: linear-gradient(45deg, #fc4444, rgb(242, 123, 69));
}